@import url('https://fonts.googleapis.com/css2?family=Noto+Naskh+Arabic:wght@400;500;600;700&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

/* root *********************************/
:root{
  --text-color:#f5f5f5;
  --hover-color:#176337;
  --bg-color:#35bc6e;
  --secon-bg-color:#292e33;
  --big-font:28px;
  --normal-font:24px;
  --neon-box-shadow:0 0 .5rem #12f7ff;
  --small-font:20;
  --font-neon-text-shadow:0 0 10px rgba(18,247,255,0.3),
  0 0 20px rgba(18,247,255,0.3),
  0 0 30px rgba(18,247,255,0.3),
  0 0 40px rgba(18,247,255,0.3),
  0 0 70px rgba(18,247,255,0.3),
  0 0 80px rgba(18,247,255,0.3),
  0 0 100px rgba(18,247,255,0.3),
  0 0 150px rgba(18,247,255,0.3);
}

/* General ***********************/
*{
  font-family: "Noto Naskh Arabic";
}
body {
  margin: 0;
  padding: 0;
  font-family: "Noto Naskh Arabic";
}

/* Formating ************************************/
#test-questions{
  margin: 0;
  padding: 0;
}


div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
form,
p,
blockquote,
th,
td {
  padding: 0;
  }

.orbit {
  position: relative; }

.orbit-container {
  position: relative;
  margin: 0;
  overflow: hidden;
  list-style: none;
  }

[type='radio'] {
  margin: 0 0 1rem;
}
.column, .columns {
  width: 100%;
  float: right;
  padding-left: 0.9375rem;
  padding-right: 0.9375rem;
}

[type='checkbox'] + label,
[type='radio'] + label {
  display: inline-block;
  margin-right: 0.5rem;
  margin-left: 1rem;
  margin-bottom: 0;
  vertical-align: baseline;
}


p {
    margin: 0;
    margin-bottom: 15px;
    padding: 0;
    text-align: center;
    font-size: 28px;
    font-weight: 600;
}

label{
  font-size: 18px;
  font-weight: 800;
}

.badge {
  display: inline-block;
  padding: 10px;
  border-radius: 50%;
  background: #000000;
  color: #fefefe;
  transition: .5s;
}

.badge:hover{
  display: inline-block;
  padding: 10px;
  border-radius: 50%;
  background: var(--hover-color);
  color: #fefefe;
}

.label {
  display: inline-block;
  font-size: 20px;
  cursor: pointer;
  color: #fefefe;
}

/* Content */

div.content {
    min-height: 100vh;
    background: #fff;
    margin-bottom: 25px;
    box-shadow: 0 0 5px rgba(0,0,0,0.2);
    padding: 50px 25px;
    border-radius: 25px;
}

div.content h2{
  color: #176337;
  margin-top: 0;
  margin-bottom: 0.5rem;
  line-height: 1.4;
}

div.content h3 {
    color: #176337;
    font-size: 18px;
    margin-top: 0;
    margin-bottom: 0.5rem;
    line-height: 1.4;
}

div.content h5{
    color: black;
    font-size: 24px;
    font-weight: 800;
    margin-top: 0;
    margin-bottom: 0.5rem;
    line-height: 1.4;
}

div#test h3 {
	color: #176337;
  font-weight: 800;
    font-size: 22px;
}

div.content span {
    color: white;
    font-size: 18px;
}

span#eScore,span#iScore,span#nScore, span#sScore,span#fScore, span#tScore,span#pScore, span#jScore{
  color: black;
  font-size: 22px;
  font-weight: 600;
}

span#type-percentage{
  color: black;
  font-size: 24px;
  font-weight: 600;
  margin-left: 7px;
}

#type-title,#type{
  font-size: 28px;
  font-weight: 800;
  text-align: center;
}


/****************************button*************************************/

div#test-questions button.next {
	visibility: hidden;
}

div#test-questions.show-next button.next {
	visibility: visible;
}

div#test button {
	background: #176337;
    color: #fff;
    border-radius: 99px;
    padding: 10px 25px;
    margin-top: 15px;
    font-size: 24px;
    font-weight: 800;
}

.button-submit{
  text-align: center;
  margin-top: 70px;
}

div#test button:hover {
	background: #35bc6e;
}

button {
  background: transparent;
  padding: 0;
  border: 0;
  border-radius: 3px;
  line-height: 1; }
  [data-whatinput='mouse'] button {
    outline: 0; }

a#type-site{
  color: #eee;
  font-size: 24px;
}

a#type-site:hover{
  color: #000;
}    

div#result {
	text-align: center;
}

a {
  text-decoration: none;
  cursor: pointer;
}
/****************************button*************************************/

   
.row {
  max-width: 62.5rem;
  margin-left: auto;
  margin-right: auto;
}

.row::before, .row::after {
  content: ' ';
  display: table;
}

.row::after {
  clear: both;
}

.row.collapse > .column, .row.collapse > .columns {
  padding-left: 0;
  padding-right: 0;
}

.row .row {
  max-width: none;
  margin-left: -0.9375rem;
  margin-right: -0.9375rem;
}

.row .row.collapse {
  margin-left: 0;
  margin-right: 0;
}

.row.expanded {
  max-width: none;
}

.row.expanded .row {
  margin-left: auto;
  margin-right: auto;
}
  


/* Small only */
@media screen and (max-width: 39.9375em) {

div.section {
  border-radius: 0;
  margin-bottom: 15px;
  padding-top: 20px;
}

div.content {
  margin-left: 15px;
  margin-right: 15px;
  margin-bottom: 15px;
  padding: 20px 15px;
}

div.footer {
  border-radius: 0;
}

div.prev-next, div.prev-next p {
  text-align: center;
}

a#type-site{
  color: #eee;
  font-size: 22px;
}

.button-submit{
margin-top: 100px;
margin-left: 25px;
}

}
  
    

/* Medium only */
@media screen and (min-width: 40em) and (max-width: 63.9375em) {
    div.section {
        border-radius: 0;
        padding-top: 35px;
    }
    div.content {
        margin-left: 25px;
        margin-right: 25px; 
    }
    
}

